{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %} Project Papyrus {% endblock %}
    </title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
    {% endblock %}
</head>
<body>
{% include "papyrus/header.html" %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
{% block javascript %}
    <script src="{% static "js/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap/popper.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap/bootstrap.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
{% endblock %}
</html>