<div class="card text-center from-top" id="log-in-section" style="width: 50%; margin-left: 25%">
    <div class="card-header">
        Log in
        <button type="button" class="close" id="close_login" data-dismiss="modal" style="cursor: pointer;" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <h4 class="card-title">Log in</h4>
        <p class="card-text">Use your papyrus account</p>
        <hr>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group mx-auto" style="width: 50%;">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                       aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control mx-auto" name="password" style="width: 50%"
                       id="exampleInputPassword1"
                       placeholder="Password">
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <a href="#">Have you forgotten your password?</a>
                </label>
                <br><br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>